<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Configure context for annotation scanning -->
	<context:annotation-config />
	<context:component-scan base-package="com.abiquo.abiserver, com.abiquo.appliancemanager.client" />

	<!-- Include the configuration files of the other components -->
 	<import resource="heartbeatContext.xml" />
 	
 	<!-- Appliance Manager 
	<import resource="springresources/am-cxf.xml" />
	-->
</beans>
