<?xml version="1.0" encoding="UTF-8"?>

	<!-- Appliance Manager configuration -->
<am>
	<!-- Required Datacenter Repository configuration. -->
	<repository>
		<!-- Where the ''repositoryLocation'' file system is mounted. Local file system path. -->
		<path>/tmp/testvmrepo</path> <!-- ${repository.path} -->
		
		<!-- Where the ''repositoryPath'' is exported. NFS shared location.  -->
		<location>nfs-location:/opt/testvmrepo</location> <!-- ${repository.location} -->
	</repository>

	<!-- Optional elements to tune the deploy process.  -->
	<deploy>
		<!--Bytes to be downloaded before flush to repository.  -->
		<buffer>32768</buffer>

		<!-- Milliseconds to wait before timeout a connection -->
		<timeout>60000</timeout> <!-- 1min -->
	</deploy>
	
	<!-- Optional elements to tune the upload process. -->
	<upload>
		<!-- Milliseconds to wait before refresh upload progress -->
		<progressInterval>5000</progressInterval>
	</upload>
</am>
