Dear $username:

Your virtual application "$virtualapp" running in your virtual datacenter "$virtualdatacenter" of your organization "$enterprise" has been launched at $timestamp.

Kindest Regards

The Abiquo team